version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: tms-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: employee_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: tms-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  pgdata: