name: Deploy employee-api (Dev auto, Prod approval)

on:
  workflow_run:
    workflows: ["Publish employee-api image to GHCR"]
    types: [completed]

permissions:
  contents: read
  packages: read

jobs:
  deploy-dev:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    environment: dev

    steps:
      - name: Compute tag from published commit SHA
        shell: powershell
        run: |
          $sha = "${{ github.event.workflow_run.head_sha }}".Substring(0,7)
          echo "TAG=sha-$sha" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Login to GHCR
        shell: powershell
        run: |
          echo "${{ github.token }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Deploy DEV
        shell: powershell
        run: |
          cd C:\tms\employee-api-dev
          (Get-Content .\.env) `
            -replace '^IMAGE_TAG=.*', "IMAGE_TAG=$env:TAG" `
            | Set-Content .\.env

          docker compose pull
          docker compose up -d --remove-orphans

  deploy-prod:
    needs: deploy-dev
    runs-on: self-hosted
    environment: prod   # this is what triggers approval
    steps:
      - name: Compute tag from published commit SHA
        shell: powershell
        run: |
          $sha = "${{ github.event.workflow_run.head_sha }}".Substring(0,7)
          echo "TAG=sha-$sha" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Login to GHCR
        shell: powershell
        run: |
          echo "${{ github.token  }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Deploy PROD (requires approval)
        shell: powershell
        run: |
          cd C:\tms\employee-api-prod
          (Get-Content .\.env) `
            -replace '^IMAGE_TAG=.*', "IMAGE_TAG=$env:TAG" `
            | Set-Content .\.env

          docker compose pull
          docker compose up -d --remove-orphans
